body{
    background: linear-gradient(to bottom, rgb(207, 174, 91), rgb(223, 200, 173));
    background-size: cover;
    background-repeat: no-repeat;
    height: 35em;
    font-family: Arial, Helvetica, sans-serif;
}
.tabla{
    background: linear-gradient(to bottom, bisque, white);
    width: 60%;
    margin: 10% auto;
    padding: 2%;
    color: rgb(54, 0, 0);

}
main{
    display: flex;
    justify-content: space-between;
}
article{
    width: 80%;
}
figure{
    
}
.provincias{
    display: grid;
    gri
}
aside{
    width: 20%;
    padding: 0 2%;
}
h4{
    margin: 0;
    border-bottom: 1px dashed;
}
footer{
    padding: 2% 0;
    color: rgb(170, 170, 124);
}
footer>p{
    padding: 0;
    margin: 0;
}
fieldset{
    display: flex;
    justify-content: space-between;
}