table, h1{
    margin: 0 auto;
    width: 40%;
    text-align: center;
    font-size: 1.5em
}
table,tr,td, th{
    border: 0.1em solid black;
    border-collapse: collapse;
    padding: 1em;
}
th {
    background-color: #000;
    color: white;
}
button{
    padding: 1em;
}
table:last-child th:nth-child(1){
    background-color: red;
}
tr:nth-child(1) th:last-child{
    background-color: blue;
}